@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading">用户信息</div>
    @*<table class="table table-striped">
        @foreach (string key in Model)
        {
            <tr>
                <th>@key</th>
                <td></td>
            </tr>
        }
    </table>*@
    首页一点都不好看
</div>
@Html.ActionLink("注销", "Logout", "Account", null, new { @class = "btn btn-primary" })